* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Ensure the body takes full height */
    width: 100%;
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    /* Use fixed positioning to make the background cover the entire page */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images.pexels.com/photos/5217828/pexels-photo-5217828.jpeg?auto=compress&cs=tinysrgb&w=600');
    /* Set your image URL here */
    background-size: cover;
    /* Ensure the image covers the entire page */
    background-position: center center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Ensure the image does not repeat */
    opacity: 1;
    /* Make the background image faint */
    z-index: -1;
    /* Position the background behind the content */
    pointer-events: none;
    /* Prevent the background from interfering with interactions */
}

/* Smooth scrolling for anchor links */
html {
    scroll-behavior: smooth;
}



/* Smooth scrolling for anchor links */
html {
    scroll-behavior: smooth;
}

/* Adjust spacing to ensure section headings are not hidden behind a fixed header */
section {
    padding-top: 70px;
    margin-top: -70px;
}

/* Optional: Reset margin and add padding to headings if necessary */
section h2 {
    margin-top: 0;
    padding-top: 20px;
}

/*#region Header*****************************************************HEADER*****************************************/
header {
    background: rgba(0, 0, 255, 0.772);
    color: #fff;
    padding: 21x;
    text-align: center;
    border-bottom: 5px solid #00307a;
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a:hover {
    transform: scale(1.1);
    color: darkgray;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    animation: shake 0.5s forwards;
    /* Shake effect on hover */
    color: darkgray;
    cursor: pointer;
}

.social-media-icons {
    display: flex;
    margin-left: 10px;
}

.social-media-icons a {
    color: white;
    margin-right: 15px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-media-icons a:hover {
    transform: scale(1.5);
    color: darkgray;
    cursor: pointer;
}

.social-media-icons h2 {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: White;
    left: 85%;
    margin-top: 1rem;
    text-align: left;

}

.social-media-icons h2:hover {
    animation: shake 0.5s forwards;
}


/* New section styles */
.intro-section {
    background-color: #ffffff;
    padding: 0.5rem 0.5rem;
    text-align: center;
    margin-top: -1rem;
}

.intro-heading {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;

}

.intro-subheading {
    font-size: 1.25rem;
    margin: 0;
}

.intro-tag {
    font-weight: bold;
    color: #007bff;
}

/*#endregion HEADER*/

/*#region Backround**********************************************************BACKGROUND********************************************************/
/******************************** Styling for the image header section ************************************/
.section-video {
    position: relative;
    background-image: url('https://images.pexels.com/photos/5327653/pexels-photo-5327653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    animation: imageTransition 15s infinite;
    animation-timing-function: ease-in-out;

}

.video-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    background-color: blue !important;
    width: 0;
    animation: sliderAnimation 7s linear infinite;
    z-index: 1000;
}


@keyframes imageTransition {
    0% {
        background-image: url('https://images.pexels.com/photos/5327653/pexels-photo-5327653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
        /* Slight zoom-in */
    }

    30% {
        background-image: url('https://images.pexels.com/photos/5327654/pexels-photo-5327654.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        transform: scale(1);
        /* Reset zoom */
    }

    55% {
        transform: scale(1.05);
        /* Slight zoom-in */
    }

    60% {
        background-image: url('https://images.pexels.com/photos/12917374/pexels-photo-12917374.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        transform: scale(1);
        /* Reset zoom */
    }

    85% {
        transform: scale(1.05);
        /* Slight zoom-in */
    }

    100% {
        background-image: url('https://images.pexels.com/photos/5327653/pexels-photo-5327653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        transform: scale(1);
    }
}

/* Slider Animation (Green Progress Bar) */
@keyframes sliderAnimation {
    0% {
        width: 0%;
        /* Start with no width */
    }

    100% {
        width: 100%;
        /* Full width at the end */
    }
}

/* Styling for the overlay */
.video-overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    text-align: left;
    z-index: 2;
}


.h2-container {
    background: rgba(13, 15, 133, 0.772);
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    margin-left: 25px;
   
}

/* Green background for p container */
.p-container {
    background: rgba(50, 65, 104, 0.772);
    padding: 10px;
    width: 70%;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    
}

/* Optional styling to change text color to stand out */
.h2-container h2,
.p-container p {
    color: white;
    /* White text for better contrast */
}


.donate-button {
    background-color: rgba(23, 162, 102, 0.9) !important;
    /* Optional background color for visibility */
}


/* Carousel Image */


.section-image {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 0rem;
    padding: 0;
}

.image-header-img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
}

/*#endregion*/


/*#region Brief********************************************************************************BRIEF***********************************************/

.centered-content {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    /* Optional: Limits the width of the content for better readability */
}

.brief-heading {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

/* Style for the GIFs */
.brief-gif-left,
.brief-gif-right {
    position: absolute;
    top: 20px;
    width: 230px;
    height: 230px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
    animation: bounce 2s infinite; /* Apply the bounce animation */
}


.brief-gif-left {
    left: -10px;
}


.brief-gif-right {
    right: -10px;
 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
/* Center the brief-announcement at the bottom of the page */
.brief-announcement {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Horizontally center */
    text-align: center;
    padding-bottom: 10px;
   
}

/* Style the image to be rounded */
.brief-announcement img {
    width: 250px; /* Adjust width as needed */
    height: 250px; /* Adjust height to maintain a square aspect ratio */
    border-radius: 50%; /* This makes the image round */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    animation: bounce 2s infinite;
}
.centered-content p {
    line-height: 1.6;
    font-size: 16px;
    color: rgb(47, 75, 105)
}

.brief {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}

.brief.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
        /* End at the original position */
    }
}

@keyframes boxSlideUp {
    to {
        opacity: 1;
        transform: translateY(0);
        /* End at the original position */
    }
}


/*#endregion*/

/*#region Vision*********************************************************vision -------------------------------------------*/

/* The pseudo-element for the faint background image */

#vision {
    position: relative;
    background-image: url('https://images.pexels.com/photos/6994945/pexels-photo-6994945.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    opacity: 1;
    /* Set opacity to 1 to ensure the content remains bold and visible */
    z-index: 1;
    /* Keep the section's content on top of the background */
}


/* Style for each vision box */
.vision-box {
    background-color: #263969;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    flex: 1 1 calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    /* Initially hidden */
    transform: translateX(-100%);
    /* Start off-screen to the left */
    transition: opacity 1s ease-out, transform 1s ease-out;
    /* Smooth transition for opacity and movement */
}

/* Initial state for vision-boxes */
.vision-box.show {
    opacity: 1;
    transform: translateX(0);
    /* Slide into normal position */
}

/* Hover effect for vision-box */
.vision-box:hover {
    transform: translateY(-5px);
    /* Slight lift on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Container for vision boxes */
.vision-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

/* Vision text color */
#vision p {
    color: whitesmoke;
}

#vision h2 {
    color: black;
}

/*#endregion*/


/*#region ABOUT***************************************************ABOUT STYLING********************************************************/

#about {
    padding: 40px;
    background-color: #f8f8f3;
}

/* Container to hold the 3 divs side by side */
.w3-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Column for About Food Hub and Donate Button (Left Side) */
.about-food-hub {
    padding: 20px;
    text-align: center;
    flex: 1;
}

.about-food-hub h1 {
    font-size: 2.6rem;
    margin-bottom: 15px;
    font-family: 'Lobster', cursive;

}

.about-food-hub p {
    color: rgb(35, 34, 34);
}

.started-btn {
    background-color: rgb(95, 95, 169);
    padding: 10px 20px;
    border: none;
    outline: 2px solid rgb(16, 10, 188);
    /* Creates a green outline around the button */
    border-radius: 5px;
    color: black;
    /* Sets the text color to black */
    cursor: pointer;
    font-size: 1rem;
}

.started-btn:hover {
    background-color: #2128b3;
}

/* Column for the image (Center) */
.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: transform 0.4s ease-in-out;
    /* Smooth transition effect */
    transform: translateX(-100%);
    /* Start off-screen to the left */
}

.about-image img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    height: auto;
}

.about-image.show {
    transform: translateX(0);
    /* Bring the image to its original position */
}

/* Column for content/words (Right Side) */
.about-content {
    padding: 20px;
    flex: 1;
}

.about-content h5 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: rgb(182, 114, 13)
}

.about-image img:hover {
    animation: shake-zoom 0.7s ease-in-out;

}

@keyframes shake-zoom {
    0% {
        transform: scale(1) translateX(0);
    }

    20% {
        transform: scale(0.9) translateX(-5px);
    }

    40% {
        transform: scale(0.9) translateX(5px);
    }

    60% {
        transform: scale(0.9) translateX(-5px);
    }

    80% {
        transform: scale(0.9) translateX(5px);
    }

    100% {
        transform: scale(1) translateX(0);
    }
}

/*#endregion*/

/*#region FUNFACT****************************************FUN FACT*********************************************/
/* Container Layout */
.content-gallery-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.content {
    flex: 1;
    padding: 20px;
}

.gallery {
    flex: 1;
    text-align: center;
}

/* Gallery Grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    animation: bounce 2s infinite ease-in-out;
}

/* Bounce Animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}



h5.fun-heading{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color:rgb(179, 179, 45);
    font-family: 'Lobster', cursive;
}

.content h4{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color:purple;
}

.content h2{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-family: 'Lobster', cursive;
    font-weight: 1.7px;
    color:green;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Gallery Heading */
.gallery h2 {
    margin-bottom: 15px;
    color:#00307a;
    font-family: 'Lobster', cursive;
}
/*#endregion FUNFACT*/

/*#region***********************************************************************Updated Article Section************************************************** */

/* Styling for the article GIF (positioned at the top-left corner and rounded) */
#article {
    position: relative;
    /* Ensure the section is positioned relative for absolute child positioning */
    padding: 20px;
    /* Optional: Add some padding to the section for spacing */
    color:whitesmoke
}

.articles-gif {
    position: absolute;
    top: 1px;
    left: 20px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}

.article-heading-container {
    width: 10%;
    max-width: 500px;
    text-align: center;
    /* Center the text */
    background-color: #a2d0f8;
    padding: 2px 5px;
    /* Padding around the text */
    border-radius: 5px;
    /* Rounded corners */
    margin: 0 auto 20px auto;
    animation: bounce 1s infinite;

}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

.article-heading {
    font-size: 34px;
    margin: 0;
    color: black;
}

.article-heading-container:hover {
    animation: shake 0.5s ease-in-out;
}

/* Carousel Section */
.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Article Container */
.article-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;
}

/* Article Slide */
.article-slide {
    width: 100%;
    display: flex;
}

/* Article Box */
.article-box {
    width: 22%;
    margin: 0 10px;
}

/* Iframe (Video) */
.article-box iframe {
    width: 100%;
    height: auto;
}

/* Paragraphs in Article Box */
.article-box p {
    margin-top: 10px;
    font-size: 1.1em;
    color: #333;
    font-family: 'Lobster', cursive;
}

/* Navigation Buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    font-size: 14px;
    background-color: #129119;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Hover Effects for Navigation Buttons */
.prev:hover,
.next:hover {
    background-color: #333;
}

/*#endregion Article*/

/*#region FEATURES***********************************************************Features Background Section****************************************************/
#features {
    position: relative;
    /* Ensures that the GIF positions itself relative to the #features section */
}

.features-heading-container {
    width: 13%;
    max-width: 500px;
    text-align: center;
    background-color: lightgreen;
    padding: 2px;
    border-radius: 5px;
    margin: 0 auto 20px auto;
    animation: bounce 1s infinite;

}
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
.features-heading {
    font-size: 34px;
    margin: 0;
    color: black;
    line-height: 1.2;
}


/* General styles for the GIFs */
.features-gif-left,
.features-gif-right {
    position: absolute;
    /* Absolute positioning for precise placement */
    top: 4px;
    /* Place the GIF slightly down from the top */
    width: 150px;
    /* Set the width of the GIF */
    height: 150px;
    /* Set the height of the GIF */
    object-fit: cover;
    /* Ensures content scales without distortion */
    border: none;
    /* Removes iframe border */
    border-radius: 50%;
    /* Makes the GIFs round */
    overflow: hidden;
    /* Prevents overflow of content */
    animation: slide 3s ease-in-out infinite;
    /* Apply sliding animation */
}

/* Position the left GIF near the left edge */
.features-gif-left {

    left: -11px;
    /* Position the GIF near the left edge */
    animation-direction: alternate-reverse;

}

/* Position the right GIF near the right edge */
.features-gif-right {
    right: -10px;
    /* Position the GIF near the right edge */
    animation-direction: alternate;

}

/* Animation for sliding */
@keyframes slide {
    0% {
        transform: translateX(0);
        /* Start at the initial position */
    }

    50% {
        transform: translateX(60px);
        /* Move to the right for the left GIF, left for the right GIF */
    }

    100% {
        transform: translateX(0);
        /* Return to the initial position */
    }
}

.features-heading {
    text-align: center;
    margin-bottom: 30px;
}

.features-heading-container:hover {
    animation: shake 0.5s ease-in-out;
}

.features-search-container {
    width: 10%;
    margin-bottom: 50px;

}

.features-box {
    text-align: center;
    margin-bottom: 20px;
}

.features-box img {
    width: 100%;
    max-height: 340px;
    /* Adjust this value as needed */
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    animation: shake 1s infinite ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
.features-text h3 {
    margin-top: 10px;
    font-size: 1.25rem;
}

.features-text p {
    font-size: 0.9rem;
    color: #555;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#modal1 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#modal2 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal3 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal4 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal5 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal6 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal7 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal8 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal9 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal10 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal11 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal12 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal13 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal14 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal15 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal16 .modal-content {
    background-color: #fff5e6;
    ;
    /* Set background color to blue */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 850px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-body {
    display: flex;
    align-items: flex-start;
    /* Align items to the top */
}

.image-container {
    flex: 1;
    /* Allows the image container to take up space */
    padding: 10px;
    /* Adds space around the image */
}

.modal-image {
    width: 100%;
    /* Makes the image responsive */
    max-width: 200px;
    /* Limits the image size */
    height: auto;
    /* Keeps the aspect ratio */
}

.form-container {
    flex: 2;
    /* Allows the form container to take up more space */
    padding: 10px;
    /* Adds space around the form */
}

.form-group {
    margin-bottom: 15px;
    /* Adds space between form fields */
}

.form-group label {
    display: block;
    /* Ensures label takes the full width */
    margin-bottom: 5px;
    /* Adds space between label and input */
}

.form-group input,
.form-group textarea {
    width: 100%;
    /* Makes input fields responsive */
    padding: 8px;
    /* Adds padding to input fields */
    border: 1px solid #ccc;
    /* Adds border to input fields */
    border-radius: 4px;
    /* Rounds the corners of input fields */
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-link-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* Adjust space between paragraph and buttons */
}

.button-link-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* Adjust space between paragraph and buttons */
}

.book-session {
    background-color: blue;
    /* Button color for "Book a Session" */
    color: white;
    /* Button text color */
    border: none;
    /* No border */
    padding: 10px 15px;
    /* Padding inside the button */
    cursor: pointer;
    /* Pointer on hover */
    border-radius: 5px;
    /* Rounded corners */
    margin-right: 10px;
    /* Space between buttons */
}

.more-resources {
    background-color: green;
    /* Button color for "View Resources" */
    color: white;
    /* Button text color */
    border: none;
    /* No border */
    padding: 10px 15px;
    /* Padding inside the button */
    cursor: pointer;
    /* Pointer on hover */
    border-radius: 5px;
    /* Rounded corners */
}

.more-resources:hover,
.book-session:hover {
    opacity: 0.8;
    /* Slightly fade button on hover */
}

/*#endregion FEATURES*/


/*#region TESTIMONIALS*************************************************************TESTIMONIALS SECTION*******************************************************/

/* Testimonials Heading */
/* Styling the testimonials heading container */

#testimonials{
    color:whitesmoke
}
.testimonials-heading-container {
    width: 20%;
    max-width: 500px;
    text-align: center;
    background-color: #f7dcb4;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto 20px auto;
    /* Center and give space below */
}

/* Styling for the testimonials heading */
.testimonials-heading {
    font-size: 34px;
    margin: 0;
    color: black;
    line-height: 1.2;
}

.testimonials-heading-container:hover {
    animation: shake 0.5s ease-in-out;
}




/* Testimonials Container */
.testimonials-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

/* Common styles for the GIFs */
.testimonials-left-gif,
.testimonials-right-gif {
    position: absolute;
    /* Position them absolutely within the parent container */
    width: 150px;
    /* Set a fixed width */
    height: 150px;
    /* Set a fixed height */
    border-radius: 50%;
    /* Make them round */
    overflow: hidden;
    /* Ensure content stays within the circle */
}

/* Left GIF */
.testimonials-left-gif {
    top: 4%;
    /* Center vertically relative to the section */
    left: 350px;
    /* Position it on the left with some padding */
    transform: translateY(-50%);
    /* Adjust for true vertical centering */
}

/* Right GIF */
.testimonials-right-gif {
    top: 4%;
    /* Center vertically relative to the section */
    right: 350px;
    /* Position it on the right with some padding */
    transform: translateY(-50%);
    /* Adjust for true vertical centering */
}

/* Testimonials Box */
.testimonials-box {
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image Styling */
.testimonials-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.testimonials-box img:hover {
    transform: scale(1.1);
}

/* Testimonials Text */
.testimonials-text {
    text-align: center;
    margin-top: 10px;
}

.testimonials-text h3 {
    margin: 0;
    font-size: 1.2rem;
    color: black;
}

.testimonials-text p {
    font-size: 0.9rem;
    margin-top: 5px;
    color: gray;
}

/* Carousel Indicators */
.carousel-indicators {
    position: relative;
    margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .testimonials-container {
        flex-direction: column;
        align-items: center;
    }
}

/*#endregion TESTIMONIALS*/


/*#region ADVERT****************************************ADVERT***************************************/
/* General styling for the advert section */
#advert-section {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
}

#advert-section h2 {
    font-size: 2rem;
    color: #24b742;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
}

.advert-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}

.advert-slide {
    width: 100%;
    max-width: 250px;
    text-align: center;
}

.advert-slide img {
    width: 100%;
   
    height: 200px;  /* Set height */
    object-fit: cover;  /* Ensure proper scaling */
    border-radius: 10px;
    object-fit: cover;
    animation: bounce 1s infinite;  /* Apply the bounce animation */
}

/* Bouncing animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Start and end at original position */
    }
    50% {
        transform: translateY(-20px); /* Move up 20px in the middle of the animation */
    }
}

.advert-slide p {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .advert-container {
        flex-direction: column;
        align-items: center;
    }

    .advert-slide {
        max-width: 90%;
    }
}



/*endregion ADVERT*/

/*#region BLOG***********************************************************Blog Section Container styling************************************************* */
.blog-heading-container {
    width: 20%;
    max-width: 500px;
    text-align: center;
    background-color: rgb(243, 219, 199);
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto 20px auto;
}

/* Blog heading styling */
.blog-heading {
    font-size: 34px;
    margin: 0;
    color: black;
    line-height: 1.2;
}

.blog-heading-container:hover {
    animation: shake 0.2s ease-in-out;
}

.blog-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

/* Interest Image styling */
.blog-image {
    width: 30%;
    max-width: 300px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Style for the GIF */
.blog-gif-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    animation: bounce 1s ease-in-out infinite; 
}

/* Style for right GIF */
.blog-gif-right {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    animation: bounce 1s ease-in-out infinite; 
}

/* To style the GIFs similarly to the blog section */
.blog-gif-left,
.blog-gif-right {
    width: 150px;
    /* Set the size you want for the GIF */
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional: Add a shadow for better visibility */
}

/* Keyframes for bouncing effect */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);  /* Start and end at the normal position */
    }
    50% {
        transform: translateY(-20px);  /* Move 20px up (bounce effect) */
    }
}

.blog-image:hover {
    transform: scale(1.1);
}

.blog-image2 {
    width: 100%;
    max-width: 400px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blog-image2:hover {
    transform: scale(1.1);
}


.blog-image3 {
    width: 80%;
    max-width: 400px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blog-image3:hover {
    transform: scale(1.1);
}

/* Text content styling for Interest section */
.blog-justify {
    text-align: left;
    overflow: hidden;
}

/* Optional button styling */
.blog-left,
.interest-right {
    margin: 10px 0;
}

/* Headings and paragraph styling for the Interest section */
.blog-header {
    text-align: left;
}

/* Ensure the content stays clear of floating elements */
.blog-clear {
    clear: both;
    height: 0;
}

/* Headings specific to Interest section */
.blog-header h3,
.blog-header h5 {
    margin: 10px 0;
    padding: 0;
    text-align: center;
}



/* Container for Interest buttons to align them on the same line */
.button-container-blog {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

/* Ensure paragraph tags do not add extra margin or padding */
.blog-left,
.blog-right {
    margin: 0;
    padding: 0;
}

/* Like Button Styling */
.blog-left .w3-button {
    background-color: rgb(31, 43, 167);
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    vertical-align: middle;
}

.blog-left .w3-button:hover {
    background-color: rgb(58, 98, 172);
    color: white;
}

.blog-left .w3-button i {
    margin-right: 5px;
}

/* Reply Button Styling */
.blog-right .w3-button {
    background-color: orange;
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    vertical-align: middle;
}

/* Hover Effect for Reply Button */
.blog-right .w3-button:hover {
    background-color: rgb(69, 110, 185);
    color: black;
}


/* styles.css */

/* Styles for the comment images */
.comment-image {
    width: 90px;
    /* Set width for comment images */
    height: auto;
    /* Maintain aspect ratio */
}

/* Styles for the comment section buttons */
.comment-button {
    background-color: black;
    color: white;
    /* Button text color */
    border: none;
    /* Remove default border */
    padding: 10px 20px;
    /* Add padding */
    cursor: pointer;
    /* Change cursor on hover */
    transition: background-color 0.3s;
    /* Transition effect for background color */
}

.comment-button:hover {
    background-color: darkgray;
    /* Change background color on hover */
}

/* Hide the comment section by default */
.comment-section {
    display: none;
}



/* Underline for h2 Headings */
h2 {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 1rem;
}

/*#endregion BLOG*/


/*#region CHECK***********************************************CHECK SECTION*********************************************************/

.check-heading-container {
    width: 17%;
    max-width: 500px;
    text-align: center;
    background-color: rgb(158, 239, 158);
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto 20px auto;
    /* Center the div and add margin */
}

/* Self Check heading styling */
.check-heading {
    font-size: 34px;
    margin: 0;
    color: black;
    line-height: 1.2;
}

.check-heading-container:hover {
    animation: shake 0.5s ease-in-out;
}

#check {
    background: rgba(29, 29, 119, 0.772);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chat-icon-container {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.chat-text {
    margin-right: 10px;
    font-size: 14px;
    color: blue;
    font-weight: bold;
}

.chat-icon i {
    color: black;
    font-size: 50px;
}


.chat-icon i:hover {
    background-color: white;
}

/* Chat Container */
.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    bottom: 70px;
    right: 20px;
    display: none;
    z-index: 1000;
    overflow: hidden;
}

.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.chat-box {
    height: 300px;
    overflow-y: auto;
    padding: 10px;

}

.chat-box div {
    margin: 5px 0;
}

.chat-box .user {
    text-align: right;
}

.chat-box .bot {
    text-align: left;
}

#chat-input {
    width: calc(100% - 60px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 0;
}


.user-message {
    background-color:green;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .bot-message {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .right {
    align-self: flex-end;
  }
  
  .left {
    align-self: flex-start;
  }
  
  
  


#send-btn {
    width: 50px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #0056b3;
}

/* Close button */
.close-btn {
    cursor: pointer;
    font-size: 20px;
}


.mood-slider {
    margin: 20px 0;
}
.slider-instruction {
   
    font-weight: bold;
    margin-bottom: 20px; /* Adds space below the instruction */
    font-size: 1.2rem; /* Adjust font size for visibility */
    color: white; /* Optional: Set text color */
    width: 100%; /* Ensure it spans the full width of the parent container */
    display: block; /* Ensures it's a block element */
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); } /* Start and end at original position */
    50% { transform: translateY(-10px); } /* Move up */
}

.mood-slider p {
    font-weight: bold;
    color: white;
}

.moodBarContainer {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.moodBar {
    height: 100%;
    width: 0;
    background-color: grey;
    transition: width 0.5s ease;
    border-radius: 10px;
}

input[type="range"] {
    width: 100%;
}

.recommendation {
    margin-top: 10px;
    font-size: 20px;
    display: none;
    font-weight: bold;
    color: white;
}

.self-check-container {
    display: flex;
    justify-content: space-between;
    /* Adds space between the two sections */
    gap: 20px;
    /* Adds spacing between the sections */
}

.left-section {
    flex: 1;
    /* Both sections will take equal width */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.right-section {
    flex: 1;
    /* Both sections will take equal width */
    padding: 20px;
    background-color: white;
    /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.recording-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recording-container button:hover {
    background-color: #45a049;
}

.audio-player {
    margin-top: 10px;
    width: 100%;
}

.response-container {
    margin-top: 20px;
}

#recommendation-result {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

/* Adjust spacing for the sliders */
.left-section .mood-slider {
    margin-bottom: 20px;
}

/* Ensure right section content fits well */
.right-section h3 {
    margin-bottom: 10px;
}

.right-section ul {
    padding-left: 20px;
    /* Indent the list items */
}

/*#endregion CHECK*/


/*#region RANGER SECTION*********************************************RANGER*************************/
/* General Styles */
#ranger-section{
    background-color: whitesmoke;
}

.ranger-content h2{
    font-family: 'Playfair Display', serif;

}

.ranger-content h1{
    font-family: 'Lobster', cursive;

}
.ranger {
    text-align: center;
    padding: 50px;
}

.ranger-heading {
    font-size: 2em;
    color: #333;
}

.empower-heading {
    font-size: 1.5em;
    color: #666;
}

.gif-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.ranger-gif {
    width: 320px;
    height: 320px;
    border-radius: 50%;  /* Makes the GIF round */
    object-fit: cover;  /* Ensures the GIF covers the entire area */
    margin: 10px;  /* Add some spacing around the GIFs */
    animation: bounce 2s infinite ease-in-out;
}

/* Bouncing keyframes animation */
@keyframes bounce {
    0% {
        transform: translateY(0);  /* Start at normal position */
    }
    50% {
        transform: translateY(-20px);  /* Move up by 20px */
    }
    100% {
        transform: translateY(0);  /* Return to normal position */
    }
}

/* Motivational Messages Container */
/* Container for the Motivational Messages */
.motivational-messages {
    position: relative;
    height: 100px;  /* Adjust the height as needed */
    overflow: hidden;
    margin-top: 30px;
}

.motivational-messages p{
    font-family: 'Lobster', cursive;

}

/* Style for Each Message */
.message-1, .message-2, .message-3, .message-4, .message-5, .message-6 {
    font-size: 1.5em;
    color: #444;
    position: absolute;
    width: 100%;
    opacity: 0;  /* Start invisible */
    left: 100%;  /* Start off-screen to the right */
    animation-fill-mode: forwards;  /* Keep final state after animation */
}

/* Message 1 animation */
.message-1 {
    animation: slideInOut 6s ease-in-out 0s;  /* Starts immediately */
}

/* Message 2 animation, starts after message 1 */
.message-2 {
    animation: slideInOut 6s ease-in-out 6s;  /* Starts after 6s delay */
}

/* Message 3 animation, starts after message 2 */
.message-3 {
    animation: slideInOut 6s ease-in-out 12s;  /* Starts after 12s delay */
}

/* Message 4 animation, starts after message 3 */
.message-4 {
    animation: slideInOut 6s ease-in-out 18s;  /* Starts after 18s delay */
}

/* Message 5 animation, starts after message 4 */
.message-5 {
    animation: slideInOut 6s ease-in-out 24s;  /* Starts after 24s delay */
}

/* Message 6 animation, starts after message 5 */
.message-6 {
    animation: slideInOut 6s ease-in-out 30s;  /* Starts after 30s delay */
}

/* Keyframes for sliding in and out */
@keyframes slideInOut {
    0% {
        opacity: 0;  /* Start invisible */
        left: 100%;  /* Start off-screen to the right */
    }
    20% {
        opacity: 1;  /* Become visible */
        left: 10%;  /* Slide in from right */
    }
    60% {
        opacity: 1;  /* Stay visible */
        left: 0%;  /* Center the message */
    }
    80% {
        opacity: 1;  /* Stay visible */
        left: 0%;  /* Keep the message at the center */
    }
    100% {
        opacity: 0;  /* Fade out */
        left: -100%;  /* Fully off-screen to the left */
    }
}
/*#endregion RANGER*/

/*region OUR PARTNERS***************************************************PARTNERS***************************************/

#partners-section {
    text-align: center;
}

.partner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.partners-image .image {
    display: flex;
    flex-wrap: nowrap; /* Ensures images are in a straight line */
    overflow-x: auto; /* Allows scrolling if there are many images */
    gap: 10px; /* Adds spacing between images */
    justify-content: center;
    align-items: center;
}

.partners-image .image img {
    max-width: 150px; /* Adjust size to fit */
    height: auto;
    border-radius: 5px; /* Optional styling */
}


/*#endregion PARTNERS*/

/*#region CONTACT********************************************************Contact Section******************************************/
.contact-heading-container {
    width: 30%;
    max-width: 400px;
    text-align: center;
    background: rgba(23, 162, 102, 0.772);
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto 10px auto;
    /* Center the div and add margin */
}

/* Contact heading styling */
.contact-heading {
    font-size: 34px;
    margin: 0;
    color: black;
    line-height: 1.2;
}

.contact-heading-container:hover {
    animation: shake 0.8s;
    /* Apply the shake animation for 0.5 seconds */
    animation-timing-function: ease-in-out;
    /* Smooth animation */
}

#contact {
    background: rgba(2, 2, 113, 0.772);
    color: #fff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 700px;
    margin: 0 auto;
}


/* Form Styling */
#contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 400px;
}

/* Input and Textarea Styling */
#contact form input,
#contact form textarea {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: whitesmoke;
    color: #fff;
    box-sizing: border-box;
}

/* Textarea Specific Styling */
#contact form textarea {
    height: 70px;
    resize: vertical;
}

/* Button Styling */
#contact form button {
    background-color: #888;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 150px;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

#contact form button:hover {
    background-color: #777;
}

/* Label Styling */
#contact form label {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Social Media Icons Styling */
.social-icon {
    color: #fff !important;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 0 0.5rem;
}

.social-icon:hover {
    color: #ddd;
}

.whatsapp-qr-code {
    text-align: center;
    margin-top: 20px;
}

.whatsapp-qr-code img {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}



/* Media Queries for Responsiveness */
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    #contact {
        padding: 1rem;
    }

    #contact form input,
    #contact form textarea {
        font-size: 0.875rem;
    }

    #contact form button {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        width: 100%;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}


section {
    padding: 2rem;
    margin: 2rem 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1rem;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

/*#endregion CONTACT*/



footer {
    background: rgba(2, 2, 113, 0.772);
    /* Matches footer or slightly darker */
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-section {
    width: 20%;
    min-width: 200px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #f1f1f1;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    font-family: 'lobster', 'script';
}

.footer-section ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-section p {
    font-size: 0.9em;
    margin-top: 10px;
    font-family: 'lobster', 'script';
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icon {
    color: #ccc;
    font-size: 1.5em;
    text-decoration: none;
}

.icon:hover {
    color: #fff;
}

/* Style for the footer bottom section */
.footer-bottom {
    background: rgba(0, 0, 255, 0.772);
    /* Matches footer or slightly darker */
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.footer-bottom p,
.footer-bottom .social-links {
    margin: 5px 0;
    font-family: 'pacifico', 'script';
}

.footer-bottom .social-links a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
}

.footer-bottom .social-links a:hover {
    color: #fff;
    text-decoration: underline;
    font-family: 'pacifico', 'script';
}